CONFIG PART=xc5VLX50TFF1136-2 ;

NET  MCLK1		   LOC=J16 | IOSTANDARD = LVTTL;
NET RS_TX			LOC=K11 | IOSTANDARD = LVTTL;
NET RS_RX			LOC=J11 | IOSTANDARD = LVTTL;

#		CPU Clock(66.666MHz).
NET "MCLK1" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;

##		 SYS Clock(133.333MHz).
#NET "sys_clk" TNM_NET = "sys_clk" ;
#TIMESPEC TS_sys_clk = PERIOD "sys_clk" 7.000 ns HIGH 50 %;
##		SYS2 Clock(266.666MHz).
#NET "sys2_clk" TNM_NET = "sys2_clk" ;
#TIMESPEC TS_sys2_clk = PERIOD "sys2_clk" 3.5 ns HIGH 50 %;
